.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-custom {
  border-radius: 0;
  height: 3rem;
  color: #34c6d3;
  font-weight: 700;
  border: 3px solid #34c6d3;
  background: white;
  text-transform: uppercase;
  cursor: pointer;
}
.button-custom:hover,
.button-custom:focus {
  color: white;
  background: #34c6d3;
}
.button-remove {
  color: #e91e63;
  float: right;
  border-color: #e91e63;
}
.button-remove:hover,
.button-remove:focus {
  color: white;
  background: #e91e63;
}
.button-add {
  margin-top: 10px;
  float: right;
  color: #4caf50;
  border-color: #4caf50;
}
.button-add:hover,
.button-add:focus {
  color: white;
  background: #4caf50;
}
.error-msg {
  color: #e91e63;
  font-weight: 700;
}
.app-title {
  text-align: center;
}
.phone-list-header {
  margin: 30px 0 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.phone-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.phone-card {
  margin: 30px;
}
.phone-card-wrapper .phone-card img {
  width: 300px;
  height: 300px;
}
.phone-card-wrapper .phone-card h2,
.phone-card-wrapper .phone-card p {
  text-align: center;
}
.phone-detail {
  padding: 30px 100px;
}
.phone-detail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone-detail-info {
  display: flex;
  align-items: center;
}
.phone-detail .phone-detail-info img {
  width: 500px;
  height: 500px;
  margin-right: 50px;
}
.spinner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .phone-detail-info {
    display: block;
    text-align: center;
  }
  .phone-detail .phone-detail-info img {
    width: 250px;
    height: 250px;
    margin-right: 25px;
  }
}
.react-responsive-modal-modal {
  width: 35%;
}